<!-- Footer -->
<footer class="text-center" id="contactfooter">
    <div class="container">
        <!-- flex-wrap will wrap the column to next row in small screen 
        justify-content-center will center align the columns -->
        <div class="d-flex flex-wrap justify-content-center">
            <!-- mr-sm-auto will left align the column in sm and higher screen sizes below sm, column will be center aligned because of justify-content-center class -->
            <div class="mr-sm-auto p-2">
                <h6>All Love Distributed &#x2764;</h6>
                <div class="credits">
                    <h6>Designed by</h6>
                    <h6><a href="https://facebook.com/wityanant/" target="_blank">Thip &amp; New</a></h6>
                </div>
            </div>
            <div class="p-2">
                <ul class="social-list">
                    <li><a href="#contactfooter"><i class="fa fa-female"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                    <li><a href="https://facebook.com/tiffy.green/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-youtube"></i></a></li> -->
                    <li><a href="https://www.instagram.com/thiphygreen/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="p-2">
                <ul class="social-list">
                    <li><a href="#contactfooter"><i class="fa fa-male"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                    <li><a href="https://facebook.com/wityanant/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/newizz/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCcczDhvzWLUG63M95Nb5zPg/" target="_blank"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- Flex ends -->
        <div class="row text-center d-block">
            <a href="#home" title="To Top"><i class="fa fa-angle-up"></i></a>
        </div>
        
        
    </div>
  </footer>