    <!-- About Section Begins -->
    <section id="about" class="section-padding wow fadeIn" data-wow-delay="0.5s">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-right">
                    <h2 class="title-text">
                        <span class="decorate">Thip-New The Wedding</span><br>22.02.2020
                    </h2>
                </div>
                <div class="col-md-6 text-left">
                    <div class="about-text">
                        <h2>Co-Organizer</h2>
                        <ul class="about-list">
                            <li>&hearts; <a href="https://www.vivarisstudio.com/" target="_blank"><b>VIVARIS</b></a> : Wedding Dress &amp; Prewedding </li>
                            <li>&hearts; <a href="https://web.facebook.com/Seethroughwedding" target="_blank"><b>SEETHROUGH</b></a> : Wedding Decoration </li>
                            <li>&hearts; <a href="https://www.instagram.com/mcgallery_mix/" target="_blank"><b>M.C.Gallery</b></a> : Event &amp; Organizer </li>
                            <li>&hearts; <a href="https://www.instagram.com/twenty_grand_nailspa/" target="_blank"><b>TWENTY GRAND NAIL & SPA</b></a> : Nail & Spa </li>
                            <li>&hearts; <a href="https://www.instagram.com/tonminimakeup/" target="_blank"><b>TONMINIMAKEUP</b></a> : Makeup Artist </li>
                            <li>&hearts; <a href="https://www.instagram.com/zam_zambe/" target="_blank"><b>ZAM_ZAMBE</b></a> : Hairdresser (Church)</li>
                            <li>&hearts; <a href="https://www.instagram.com/arika_araki/" target="_blank"><b>ARIKA_ARAKI</b></a> : Hairdresser (Hotel)</li>
                            <li>&hearts; <a href="https://web.facebook.com/a.littlefoto/" target="_blank"><b>A LITTLE</b></a> : Wedding Photography</li>
                            <li>&hearts; <a href="https://web.facebook.com/aekmedia/" target="_blank"><b>AEKCINE</b></a> : Wedding Cinematography</li>
                            <li>&hearts; <a href="https://web.facebook.com/weddingpeach7/" target="_blank"><b>WEDDING PEACH</b></a> : Wedding Presentation</li>
                            <li>&hearts; <a href="https://www.manitawedding.com/" target="_blank"><b>MANITA WEDDING</b></a> : Invitation &amp; Gifts</li>
                            <li>&hearts; <a href="https://web.facebook.com/holykm8/" target="_blank"><b>THE HOLY INFANT JESUS CHURCH</b></a></li>
                            <li>&hearts; <a href="https://web.facebook.com/bangnapride/" target="_blank"><b>BANGNA PRIDE HOTEL &amp; RESIDENCE</b></a></li>

                        <!-- <p><b>“Where there is love there is life.”</b><br>– Mahatma Gandhi</p>
                        <p>&nbsp;</p>
                        <p><b>"Love doesn't make the world go round<br> Love is what makes the ride worthwhile."</b><br>- Franklin P. Jones</p>
                        <p>&nbsp;</p>
                        <ul class="about-list">
                        <li>Love is like oxygen - You get too much you get too high</li>
                        <li>Love is like war - Easy to begin but very hard to stop </li>
                        <li>Love Like Us &hearts;</li> -->
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
    </section>
    <!-- About Section Ends -->  
    