<!-- Video Fade Section Begins -->
<section id="videoFade">
    <!--        <video src="assets/1781655317.mp4" autoplay="" muted="" loop=""></video>-->
            <!-- <video class="video-fluid" autoplay loop [muted]="true" controls>
                <source src="../assets/vdo/weddingVideo.mp4" loading="lazy" type="video/mp4">
            </video> -->
            <div class = "videoWrapper">
                <iframe src="https://player.vimeo.com/video/414176771?muted=1&loop=1&control=1&autoplay=1"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen loading="lazy"></iframe>
            </div>
</section>
        <!-- Video Fade Section Ends -->