<!-- Videos Section Begins -->
<section class="section-padding" id="videos">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="contact-sec text-center wow wobble" data-wow-delay="0.1s">
                Let's <span class="decorate">See</span> our Videos</h2>          
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-12">
                <!-- <video id="slider" autoplay controls [autoplay]="false" [muted]="true"  muted>
                    <source src="../assets/vdo/weddingVideo.mp4" loading="lazy" type="video/mp4">
                </video> -->
                <div class="videosliderWrapper">
                    <iframe id="slider" src="https://www.youtube.com/embed/TcK9P9zaBNc"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen loading="lazy"></iframe>
                </div>
            </div>
        </div>
  
        <ul class="navigation">
            <!-- <div *ngFor='let vdo of vdos.vdo'>
                <li (click)="videoUrl(vdo.link)"><img src='../assets/vdothumbnail/{{ vdo.thumbnail }}' loading="lazy" width="120px"></li> -->
            
            <li (click)="videoUrl('https://www.youtube.com/embed/TcK9P9zaBNc')"><img src='../assets/vdothumbnail/02.png' loading="lazy" width="120px"></li>
            <li (click)="videoUrl('https://player.vimeo.com/video/414176771?control=1&autoplay=1')"><img src='../assets/vdothumbnail/01.png' loading="lazy" width="120px"></li>
            <!-- <li onclick="videoUrl('../assets/vdo/weddingVideo.mp4')"><img src='../assets/vdothumbnail/th-videowedding.png' width="120px"></li>
            <li onclick="videoUrl('../assets/vdo/weddingVideo.mp4')"><img src='../assets/vdothumbnail/th-videowedding.png' width="120px"></li>
            <li onclick="videoUrl('../assets/vdo/weddingVideo.mp4')"><img src='../assets/vdothumbnail/th-videowedding.png' width="120px"></li>
            <li onclick="videoUrl('../assets/vdo/weddingVideo.mp4')"><img src='../assets/vdothumbnail/th-videowedding.png' width="120px"></li>
            <li onclick="videoUrl('../assets/vdo/weddingVideo.mp4')"><img src='../assets/vdothumbnail/th-videowedding.png' width="120px"></li>
            <li onclick="videoUrl('../assets/vdo/weddingVideo.mp4')"><img src='../assets/vdothumbnail/th-videowedding.png' width="120px"></li>
            <li onclick="videoUrl('../assets/vdo/weddingVideo.mp4')"><img src='../assets/vdothumbnail/th-videowedding.png' width="120px"></li>
            <li onclick="videoUrl('../assets/vdo/weddingVideo.mp4')"><img src='../assets/vdothumbnail/th-videowedding.png' width="120px"></li>
            <li onclick="videoUrl('../assets/vdo/weddingVideo.mp4')"><img src='../assets/vdothumbnail/th-videowedding.png' width="120px"></li>
            <li onclick="videoUrl('../assets/vdo/weddingVideo.mp4')"><img src='../assets/vdothumbnail/th-videowedding.png' width="120px"></li>
            <li onclick="videoUrl('../assets/vdo/weddingVideo.mp4')"><img src='../assets/vdothumbnail/th-videowedding.png' width="120px"></li>
            <li onclick="videoUrl('../assets/vdo/weddingVideo.mp4')"><img src='../assets/vdothumbnail/th-videowedding.png' width="120px"></li> -->
            <!-- </div> -->
        </ul>
    </div>
  </section>
  <!-- Videos Section Ends -->
  